Repository mrkirby153/task-scheduler: changes, and which pre-commit hooks are due for each by the changed paths.
All: buf-lint, mix-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: buf-lint
        name: buf lint
        entry: ./hooks/proto_lint.sh
        language: script
        files: proto/.*\.proto$
        pass_filenames: false
      - id: mix-format
        name: mix format
        entry: ./hooks/nix_shell_exec.sh mix format --check-formatted
        files: (lib|test)/.*\.exs?$
        language: script
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-merge-conflict
        name: Merge conflict
        description: Check for files that contain merge conflict strings.
      - id: end-of-file-fixer
        name: End of file fixer
        description: Makes sure files end in a newline and only a newline.

Refactor some stuff
  lib/queue/queue.ex
  lib/queue/queue_registry.ex
  lib/queue/supervisor.ex
Due: mix-format

Send jobs to rabbitmq when executed
  config/dev.exs
  lib/proto/taskscheduler/v1/task_scheduler.pb.ex
  lib/proto/taskscheduler/v1/task_scheduler_service.pb.ex
  lib/queue/queue.ex
  mix.exs
  mix.lock
  proto/taskscheduler/v1/task_scheduler_service.proto
Due: buf-lint, mix-format

Add support for task invocation via elixir
  lib/queue/queue.ex
Due: mix-format

Add DB helper
  lib/db.ex
Due: mix-format

Format with mix format
  lib/proto/taskscheduler/v1/task_scheduler.pb.ex
  lib/proto/taskscheduler/v1/task_scheduler_service.pb.ex
  lib/queue/queue.ex
Due: mix-format

Add self-stop behavior for queues
  .gitignore
  lib/queue/queue.ex
Due: mix-format

Load queues from the database and auto start
  config/dev.exs
  lib/db/tasks.ex
  lib/db/utils.ex
  lib/queue/queue.ex
  lib/queue/queue_registry.ex
  lib/queue/supervisor.ex
  lib/queue/task.ex
  lib/task_scheduler.ex
Due: mix-format

Add helper method to get queue
  lib/task_scheduler.ex
Due: mix-format

Persist changes to the database
  lib/db/tasks.ex
  lib/queue/queue.ex
Due: mix-format

Multiplex AMQP queues
  lib/amqp_mapper/mapper.ex
  lib/queue/queue.ex
  lib/queue/task.ex
  lib/task_scheduler.ex
Due: mix-format

Heartbeat to map AMQP processes
  lib/amqp_mapper/heartbeater.ex
Due: mix-format

Heartbeat with monitors
  lib/amqp_mapper/heartbeater.ex
  lib/amqp_mapper/mapper.ex
Due: mix-format

Start over
  .envrc
  .gitignore
  .pre-commit-config.yaml
  buf.work.yaml
  config/config.exs
  config/dev.exs
  config/prd.exs
  config/test.exs
  hooks/nix_shell_exec.sh
  hooks/proto_breaking.sh
  hooks/proto_lint.sh
  lib/amqp_mapper/heartbeater.ex
  lib/amqp_mapper/mapper.ex
  lib/db/tasks.ex
  lib/db/utils.ex
  lib/proto/taskscheduler/v1/task_scheduler.pb.ex
  lib/proto/taskscheduler/v1/task_scheduler_service.pb.ex
  lib/queue/queue.ex
  lib/queue/queue_registry.ex
  lib/queue/supervisor.ex
  lib/queue/task.ex
  lib/task_scheduler.ex
  mix.exs
  mix.lock
  nix/protobuf.nix
  nix/protobuf_mix.nix
  proto/buf.gen.yaml
  proto/taskscheduler/v1/task_scheduler.proto
  proto/taskscheduler/v1/task_scheduler_service.proto
  rel/config.exs
  rel/plugins/.gitignore
  rel/vm.args
  shell.nix
  test/task_scheduler_test.exs
  update_protobufs.sh
Due: buf-lint, mix-format

Add nix dependencies
  .gitignore
  flake.lock
  flake.nix
  mix.exs
  mix.lock
  mix_deps.nix
Due: none

Add queue
  lib/queue.ex
Due: mix-format

Dynamic supervisor for queues
  lib/queue.ex
  lib/queue/registry.ex
  lib/queue/supervisor.ex
  lib/task_scheduler.ex
  mix.exs
Due: mix-format

Format
  lib/queue.ex
  lib/queue/registry.ex
  lib/queue/supervisor.ex
  lib/task_scheduler.ex
Due: mix-format

Add docker image to nix configuration
  flake.nix
Due: none

Add helper script to update mix2nix deps
  update-nix-deps.sh
Due: none
